Flask==2.3.2
Flask-SocketIO==5.3.4
langchain==0.3.9
langchain-community==0.3.8
langchain-core==0.3.21
langchain-openai==0.2.10
numpy==1.26.4
openai==1.55.3
opencv-python==4.10.0.84
PyAudio==0.2.14
pyttsx3==2.98
python-socketio==5.11.4
SpeechRecognition==3.11.0
